/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("orange","lighten-1") !default;
$accent-color: color("purple", "accent-2");
$secondary-color: color("orange", "darken-2");
@import 'materialize';

body {
	background-color: $primary-color;
	padding: 0 20px;
}

.nav-wrapper {
	background-color: $secondary-color;
	margin-top:10px;
}

.nav-wrapper img {
	max-height: 90%;
    margin: 3px 5px;
}

.nav-wrapper h3 {
	display: inline-block;
	position:absolute;
	margin:0;
	height: 100%;
	max-height:100%;
	padding-top:5px;
	color:black;
	font-family: 
}

.nav-wrapper ul {
	line-height: inherit;
}

.nav-wrapper a {
	color:black;
}

@media only screen and (max-width: 936	px) {
	.nav-wrapper {
	    text-align: center;
	 }}

.container {
	background-color: rgba(255,255,255,0.8);
	margin-top:50px;
	padding:25px;
	border-radius: 20px;
	max-width: 100%;
	width:100%;
}

textarea {
	height:10rem;
	margin:20px 0;
}

.flow-text {
	line-height: 100%;
}

.recent-post {
	font-size: 15px;
	line-height: 200%;
	margin:auto;
}

.blog-entry {
	text-indent: 1.5em;
}


.btn {
	background-color:$accent-color;
	color:black;
}

.page-footer {
	margin-top: 30px;
	margin-bottom:0;
}

label {
	color:black;
}
