
<div class="container">
	<div class = "row">
		<h1>Welcome to Music DB!</h1>
	</div>
	<div class="row">
		<% @albums.each do |album|%>
			<div class="album col s12 m4 l3">
				<img src=<%=album.cover_image%>>
				<p class="title"><%=link_to album.title, album_url(album.artist.name,album.title)%></p>
				<p class="artist">by <%=link_to album.artist.name, artist_url(album.artist.name)%></p>	
			</div>
		<%end%>
	</div>
</div>
