<h1>Artists</h1>
<div class="container">
	<% @artists.each do |artist| %>
		<div class="row">
			<h4><%=artist.name%></h4>
			<% artist.albums.each do |album|%>
				<div class="album col s12 m4 l3">
					<img src=<%=album.cover_image%>>
					<p class="title"><%=album.title%></p>
				</div>
			<%end%>
		</div>
	<%end%>
</div>

